.header {
  box-shadow: 0 8px 6px -6px grey;
  padding-bottom: 10px;
}

.logo {
  width: 80vw;
  margin-left: 10vw;
}

#progressBar {
  margin-left: 5%;
  width: 90%;
  background-color: #ddd;
  border-radius: 5px;
}

#myProgress {
  width: 10%;
  height: 20px;
  background-color: red;
  border-radius: 5px;
}

.main {
  margin-top: 20px;
}

.title{
  text-align: center;
    margin: 0px;
}

.question {
  text-align: center;
}

.answerBox {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 80%;
  background: rgb(225, 225, 225);
  margin-left: 10vw;
  margin-bottom: 8px;
  border: 1px solid black;
}

.answerBox:hover {
  background: rgb(245, 245, 245);
}

.answer {
  color: rgb(78, 79, 186);
}

.answerNumber {
  margin-left: 8px;
  margin-top: 10px;
  font-size: 30px;
  border: 3px solid black;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 7px;
}

.checkbox {
  margin-right: 25px;
}

hr {
  margin-top: 28px;
  width: 78vw;
  color: rgb(245, 245, 245);
}

.navButtons {
  display: flex;
  justify-content: center;
}

.nextBtn {
  width: 200px;
  height: 60px;
  background-color: rgb(66, 139, 186);
  color: white;
  font-size: 30px;
  border-radius: 8px;
}
