body {
  font-family: helvetica;
}

h1, h3 {
  font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main {
  background-image: url('images/bg.jpg');

}

.allQuestions, .header {
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: white;
}

.allQuestions {
  height: 90vh;
  padding-top: 30px;
}

#two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve, #thirteen, #fourteen, #fifteen, #sixteen, #seventeen, #eighteen {
  display: none;
}

#back {
  display: none;
  border: none;
  font-size: 16px;
  color: blue;
  background: none;
}

.header {
  box-shadow: 0 8px 6px -6px grey;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(245, 245, 245);
}

.logo {
  width: 76vw;
  margin-left: 1vw;
}

#progressBar {
  margin-left: 2%;
  width: 96%;
  background-color: #ddd;
  border-radius: 5px;
}

#myProgress {
  width: 10%;
  height: 20px;
  background-image: url("images/stripes.png");
  border-radius: 5px;
}

.title {
  text-align: center;
  margin: 0px;
}

.question {
  text-align: center;
  margin-top: 0px;
  margin-top: 10px;
}

.question1 {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  font-weight: 600;
}

.question2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.zipcodeEntry, .emailEntry {
  display: flex;
  justify-content: center;
  height: 50px;
}

.zipInput, .emailInput {
  font-size: 24px;
  width: 300px;
  padding-left: 10px;
}

.fNameEntry, .lNameEntry, .phoneEntry, .addressEntry, .cityEntry, .stateEntry {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-bottom: 15px;
}

.fNameInput, .lNameInput, .phoneInput, .addressInput, .cityInput, .stateInput {
  font-size: 22px;
  width: 300px;
  padding-left: 10px;
  border-radius: 5px;
}

hr {
  margin-top: 28px;
  width: 62vw;
  color: rgb(245, 245, 245);
  margin-bottom: 25px;
}

.navButtons {
  display: flex;
  justify-content: center;
    outline: none;
}

button:focus {
  outline:0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.nextBtn {
  width: 200px;
  height: 60px;
  background-color: rgb(66, 139, 186);
  color: white;
  font-size: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.nextBtn:active {
  background-color: rgb(67, 165, 70);
  ;
}

.submitBtn {
  display: none;
  width: 300px;
  height: 60px;
  background-color: rgb(66, 139, 186);
  color: white;
  font-size: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.submitTitle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 100;
  color: rgb(150, 150, 150);
}

.warning {
  border: 2px solid red;
}

/* SLIDERS */

.valueSlider {
  margin-left: 10vw;
  width: 60vw;
}

.sliderValue {
  width: 60vw;
  margin-left: 10vw;
  text-align: center;
  border: 0;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
}

.ui-widget {
  background: #f6a828 !important;
}

/* button Styles */
.answerList {
  color: rgb(155, 155, 155);

display: flex;
flex-direction: column;
}

.btn {
  background-color: #dfdfdf;
  border: 1px solid #39378a;
  width: 57vw;
  line-height: 3.25;
  font-size: 20px;
  margin-left: 7vw;
  text-align: center;
  margin-bottom: 10px;
  background-position: 90%;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 18px 15px;
  padding-right: 60px;
}
.btn:hover {
  background-color: rgb(245, 245, 245);
}

.btnImg {
  float: left;
  padding-top: 8px;
  padding-left:  10px;
}

.answerList input[type="radio"]:checked+label {
  color: #39378a;
  background-image: url('./images/check.png') ;
  background-repeat: no-repeat;
}

.radios {
  display: none;
}

input:focus, textarea:focus {
    outline: none;
}

input[type="radio"]:checked + label {
  color: rgb(48, 49, 125);
}
